<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <title>ミリシタ ボーダー予想</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BZVD0PX4BJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BZVD0PX4BJ');
</script>
<body>
    <script src="../static/bootstrap.bundle.min.js"></script>

    <div class="d-flex justify-content-center" style="margin-top: 10%">
        <h1 style="font-style: italic">ミリシタ ボーダー予想 7th Ani Ver.</h1>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 5%">
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            765AS
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/idol/1">天海 春香</a></li>
            <li><a class="dropdown-item" href="/idol/2">如月 千早</a></li>
            <li><a class="dropdown-item" href="/idol/3">星井 美希</a></li>
            <li><a class="dropdown-item" href="/idol/4">萩原 雪歩</a></li>
            <li><a class="dropdown-item" href="/idol/5">高槻 やよい</a></li>
            <li><a class="dropdown-item" href="/idol/6">菊地 真</a></li>
            <li><a class="dropdown-item" href="/idol/7">水瀬 伊織</a></li>
            <li><a class="dropdown-item" href="/idol/8">四条 貴音</a></li>
            <li><a class="dropdown-item" href="/idol/9">秋月 律子</a></li>
            <li><a class="dropdown-item" href="/idol/10">三浦 あずさ</a></li>
            <li><a class="dropdown-item" href="/idol/11">双海 亜美</a></li>
            <li><a class="dropdown-item" href="/idol/12">双海 真美</a></li>
            <li><a class="dropdown-item" href="/idol/13">我那覇 響</a></li>
        </ul>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Princess
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/idol/14">春日 未来</a></li>
            <li><a class="dropdown-item" href="/idol/17">田中 琴葉</a></li>
            <li><a class="dropdown-item" href="/idol/19">佐竹 美奈子</a></li>
            <li><a class="dropdown-item" href="/idol/21">徳川 まつり</a></li>
            <li><a class="dropdown-item" href="/idol/26">七尾 百合子</a></li>
            <li><a class="dropdown-item" href="/idol/27">高山 紗代子</a></li>
            <li><a class="dropdown-item" href="/idol/28">松田 亜利沙</a></li>
            <li><a class="dropdown-item" href="/idol/29">高坂 海美</a></li>
            <li><a class="dropdown-item" href="/idol/30">中谷 育</a></li>
            <li><a class="dropdown-item" href="/idol/32">エミリー</a></li>
            <li><a class="dropdown-item" href="/idol/36">矢吹 可奈</a></li>
            <li><a class="dropdown-item" href="/idol/37">横山 奈緒</a></li>
            <li><a class="dropdown-item" href="/idol/43">福田 のり子</a></li>
        </ul>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Fairy
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/idol/15">最上 静香</a></li>
            <li><a class="dropdown-item" href="/idol/20">所 恵美</a></li>
            <li><a class="dropdown-item" href="/idol/25">ロコ</a></li>
            <li><a class="dropdown-item" href="/idol/31">天空橋 朋花</a></li>
            <li><a class="dropdown-item" href="/idol/33">北沢 志保</a></li>
            <li><a class="dropdown-item" href="/idol/34">舞浜 歩</a></li>
            <li><a class="dropdown-item" href="/idol/38">二階堂 千鶴</a></li>
            <li><a class="dropdown-item" href="/idol/44">真壁 瑞希</a></li>
            <li><a class="dropdown-item" href="/idol/46">百瀬 莉緒</a></li>
            <li><a class="dropdown-item" href="/idol/47">永吉 昴</a></li>
            <li><a class="dropdown-item" href="/idol/49">周防 桃子</a></li>
            <li><a class="dropdown-item" href="/idol/50">ジュリア</a></li>
            <li><a class="dropdown-item" href="/idol/51">白石 紬</a></li>
        </ul>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Angel
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/idol/16">伊吹 翼</a></li>
            <li><a class="dropdown-item" href="/idol/18">島原 エレナ</a></li>
            <li><a class="dropdown-item" href="/idol/22">箱崎 星梨花</a></li>
            <li><a class="dropdown-item" href="/idol/23">野々原 茜</a></li>
            <li><a class="dropdown-item" href="/idol/24">望月 杏奈</a></li>
            <li><a class="dropdown-item" href="/idol/35">木下 ひなた</a></li>
            <li><a class="dropdown-item" href="/idol/39">馬場 このみ</a></li>
            <li><a class="dropdown-item" href="/idol/40">大神 環</a></li>
            <li><a class="dropdown-item" href="/idol/41">豊川 風花</a></li>
            <li><a class="dropdown-item" href="/idol/42">宮尾 美也</a></li>
            <li><a class="dropdown-item" href="/idol/45">篠宮 可憐</a></li>
            <li><a class="dropdown-item" href="/idol/48">北上 麗花</a></li>
            <li><a class="dropdown-item" href="/idol/52">桜守 歌織</a></li>
        </ul>
        </div>
    </div>

</body>
</html>


<script>

</script>